.image{
    background-color: aqua;
    width: 1300px;
    height: 200px;
}
.button{
    width: 800px;
    height: 50px;
}
.number0{
    background-image: url("images/0.png");
}
.number1{
    background-image: url("images/1.png");
}
.number2{
    background-image: url("images/2.png");
}
.number3{
    background-image: url("images/3.png");
}
.number4{
    background-image: url("images/4.png");
}
.number5{
    background-image: url("images/5.png");
}
.number6{
    background-image: url("images/6.png");
}
.number7{
    background-image: url("images/7.png");
}
.number8{
    background-image: url("images/8.png");
}
.number9{
    background-image: url("images/9.png");
}
